extends layout.pug

block scripts
	script(src='/viewmodel/ItemDisplayViewModel.js')

block content
	<div data-bind="foreach: items">
		<div class="col-md-6 column well">
			<span data-bind="text: name"></span>
		</div>
	</div>
	<button onclick="callFunc()">Test</button>

	script.
		function callFunc(){
			$.ajax({
				url: "/processIndex"
			}).done(function(data) {
				vm.items(data);
			});
		}
