extends layout.pug

block scripts
	script(src='/viewmodel/LoginViewModel.js')

block content
	<div class="col-sm-3">
	</div>
	<div class="col-sm-6 column well">
		<div class="col-sm-4 col-md-3">Username:</div>
		<div class="col-sm-8 col-md-9" style="padding-bottom: 5px"><input type="text" data-bind="value: username"/></div>

		<div class="col-sm-4 col-md-3">Password:</div>
		<div class="col-sm-8 col-md-9" style="padding-bottom: 5px"><input type="password" data-bind="value: password"/></div>

		<div class="col-sm-4 col-md-3">Email:</div>
		<div class="col-sm-8 col-md-9" style="padding-bottom: 5px"><input type="email" data-bind="value: email"/></div>

		<div class="col-sm-12">
			<button class="btn btn-sm btn-primary" onclick="register()">Register</button>
			<button class="btn btn-sm btn-link" onclick="window.location.href='/'">Back</button>
		</div>
	</div>
	<div class="col-sm-3">
	</div>

	script.
		$(window).keyup(function(event) {
			if (event.keyCode === 13) {
				register();
			}
		});

		function register(){
			$.ajax({
				url: "/register",
				type: "POST",
				data: {
					username: vm.username(),
					password: vm.password(),
					email: vm.email()
				}
			}).done(function(data) {
				if(data.Result){
					alert(vm.username() + ' registered successfully' );
					window.location.href='/';
				}else{
					alert(data.Message);
				}
			});
		}
