extends ../layout.pug

block scripts
	script(src='/viewmodel/ItemDisplayViewModel.js')

	style.
		body {
			position: relative;
		}
		ul.nav-pills {
			top: 20px;
			position: fixed;
		}
		div.col-sm-9 div {
			height: 250px;
			font-size: 28px;
		}

block content
	<div class="container">
		<div class="row">
			<nav class="col-xs-3" id="myScrollspy">
				<ul class="nav nav-pills nav-stacked" data-bind="foreach: categories">
					<li class="active"><a data-bind="attr: { href: '#' + CategoryName }"><span data-bind="text: CategoryName">Section 1<span></a></li>
				</ul>
			</nav>
			<div class="col-xs-9">
				<div data-bind="foreach: categories">
					<div class="col-sm-12 col-xs-12" data-bind="attr: { id: CategoryName }">
						<h1 data-bind="text: CategoryName"></h1><hr/>
						<div data-bind="foreach: Items">
							<div class="col-sm-6 col-xs-12 well well-sm">
								<h4 data-bind="text: ItemName"></h4>
								<span data-bind="text: 'Price: $' + Price"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	script.
		function callFunc(){
			$.ajax({
				url: "/processIndex"
			}).done(function(data) {
				vm.items(data);
			});
		}
